.header{
background-color: black;
color:white;
display: flex;
justify-content: space-between;
height: 90px;
flex-wrap:wrap;}

.menu{height:inherit;}

.header ol{display:flex;
height:inherit;}

.header ol li{height:inherit;}

.header a {display:flex;
align-items:center;
height:inherit;
padding: 0 30px;
color:white;
text-decoration:none;}

body{
      background-color:darkgray
}

ol,ul{
    margin: 5px;
    padding: 34px;
    list-style:none;}

    
    .folder{
        background-color: rgb(240, 236, 15);
        color:rgb(14, 13, 13);
        justify-content: space-between;
        height: 200px;
        flex-wrap:wrap;}
    
.gamer{
    height: 400px;
    background-color: gray;
    display:flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;}

h1{
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: white;
    margin: -1px;
    margin-top: 20px;
    padding: 30px;}

h2{ font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: white;
    margin: -1px;
    margin-top: -80px;
    padding: 30px;}

.foto-image{
    margin: 50px;
    right: 15px;}

strong{
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;}


    
h3{  font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: rgb(5, 3, 3);
    margin: -1px;
    margin-top: -5px;
    padding: 30px;}

p1{  font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: white;
    margin: -1px;
    margin-top: 20px;
    padding: 30px;}

figure{margin: 0px;
}

.experiencia{display: flex;
            margin: 20px;
            margin-right: 40px;
            text-align: center;}

.evento{margin: 1%;
    width: 100%;
    height: 440px;
    padding: 12px;
    flex-shrink: 0;
    overflow: hidden;
    background: green;}
 


.evento-detalles{
                 margin: 10% 1%;
                
                margin-top: -20px;
                position: relative;
                padding: 30px;
                text-align: center;}

                
    
.evento-url{
           
           border:1px solid blue;
           padding: 5px 20px;
           text-decoration:none;
           color: blue;
           border-radius: 5px;
           }


.contact{
         margin: 40px;
         display: flex;
         background-color: blue;
         color: white;
         height: 150px;
         width: 350px;
         justify-content: space-between;
         flex-wrap: wrap;}

.container{
       margin: 8px;}
.flexible-video2{
    margin-left: 10px;
}

 .youtube-video{
                margin-top: -1px;}

.evento-detalles2{
                  margin-top: -10px;}
.container1{
             margin-left: 100px;
            margin-top: 8px;}
                

    